.main {
    flex: 1;
}

.header {
    display: grid;
    gap: 1px;
    grid-template-columns: 1fr 250px 150px 150px 200px;

    &>* {
        background: var(--btn-bg);
        color: var(--btn-text);
        height: 53px;
        padding: 0 20px;
        line-height: 1;
        display: flex;
        align-items: center;
    }

    &>:first-child {
        border-top-left-radius: 7px;
    }

    &>:last-child {
        border-top-right-radius: 7px;
    }
}

.item {
    display: grid;
    grid-template-columns: 1fr 250px 150px 150px 200px;
    border-bottom: 1px solid var(--table-border-color);
    border-left: 1px solid var(--table-border-color);
    border-right: 1px solid var(--table-border-color);

    &>* {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 13px 20px;
    }
}

.item:nth-child(odd) {
    background: var(--table-bg-row);
}

.start {
    height: 41px;
    line-height: 41px;
}

.name {
    display: flex;
    align-items: center;
    gap: 10px;

    &>span {
        text-decoration: underline;
        cursor: pointer;
    }

    &>svg {
        cursor: pointer;
    }
}

.salary {
    background: var(--table-bg-col);
}

.result {
    display: flex;
    width: max-content;
    margin-left: auto;
    border-bottom: 1px solid var(--table-border-color);
    border-left: 1px solid var(--table-border-color);
    border-right: 1px solid var(--table-border-color);
    border-radius: 0 0 7px 7px;

    &>div {
        padding:20px;
    }

    &>div:first-child {
        width: 150px;
    }
    &>div:last-child {
        width: 200px;
        font-weight: 700;
    }
}

.buttomBtns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    &>button {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.nameUser {
    background: none;
    color: var(--text-color);
    text-decoration: underline;
    padding: 0;
    line-height: 1;

    &:hover {
        background: none;
        color: var(--text-color);
    }
}